<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<link rel="stylesheet" th:href="@{/js/css/layui.css}"/>
<script th:src="@{/js/jquery-1.9.1.min.js}"></script>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>基因重组视频管理系统</title>
</head>
<style>
    .layui-table-cell .layui-btn {display: inline-block;}
</style>
<body>
<!--#httpServletRequest.getQueryString()返回的是url路径后面的查询字符串-->
<div>
    <!-- 头部导航 -->
    <div th:replace="admin/common/nav.html"></div>

    <!--左侧菜单-->
    <div class="admin-iframe-content">
        <div class="admin-iframe-menu">
            <ul class="menu">
                <li class="" th:classappend="${#httpServletRequest.getQueryString() !='ll' ?'active':''}">
                    <a href="?mm">管理中心首页</a></li>
<!--                <li class="" th:classappend="${#httpServletRequest.getQueryString() =='ll' ?'active':''}">-->
<!--                    <a href="?ll"> 管理员信息 </a></li>-->
            </ul>
        </div>




        <!--载入页面-->
        		<div class="admin-markdown">


        <div>
            <div id="demo01" th:if="${#httpServletRequest.getQueryString() !='ll'}">
                <div class='unit'>
                    <div class='left'><p class='subtitle'>照片：</p></div>


                    <div><img th:src="${session.login.tp}" height="150px" width="150px"></div>
                    <span class='clearfix'></span>
                </div>
                <div class='unit'>
                    <div class='left'><p class='subtitle'>姓名：</p></div>
                    <div class='right' id="name" th:text="${session.login.name}"></div>
                    <span class='clearfix'></span>
                </div>
                <div class='unit'>
                    <div class='left'><p class='subtitle'>账号：</p></div>
                    <div class='right' id="zh" th:text="${session.login.username}">QQ：291026192</div>
                    <span class='clearfix'></span>
                </div>
                <div class='unit'>
                    <div class='left'><p class='subtitle'>年龄：</p></div>
                    <div class='right' id="nl" th:text="${session.login.age}">陈霓清</div>
                    <span class='clearfix'></span>
                </div>
                <div class='unit'>
                    <div class='left'><p class='subtitle'>性别：</p></div>
                    <div class='right' id="xb" th:text="${session.login.gender}">陈霓清</div>
                    <span class='clearfix'></span>
                </div>
                <div class='unit'>
                    <div class='left'><p class='subtitle'>电话：</p></div>
                    <div class='right' id="dh" th:text="${session.login.phone}">陈霓清</div>
                    <span class='clearfix'></span>
                </div>
                <div class='unit'>
                    <div class='left'><p class='subtitle'>地址：</p></div>
                    <div class='right' id="dz" th:text="${session.login.location}">陈霓清</div>
                    <span class='clearfix'></span>
                </div>

            </div>


            <div class="active" th:if="${#httpServletRequest.getQueryString() =='ll'}">

                <table class="layui-table" id="table" lay-filter="test">
                </table>

            </div>

        </div>


        <div>
        </div>
                </div>

    </div>
</div>















<!-- 底部js函数 -->
<div th:replace="admin/common/footer.html"></div>



</body>

<script th:src="@{/js/layui.js}"></script>
<script th:inline="javascript">

    layui.use(['table', 'layer', 'form', 'laydate', 'upload'],function () {

        var table = layui.table;
        var layer = layui.layer;
        var form = layui.form;
        var laydate = layui.laydate;
        var upload = layui.upload;

        //渲染表格数据
        table.render({
            elem: '#table'
            , height: 700
            , width: 1600
            , url: '/adminLoinfor/getAll' //数据接口
            , toolbar: '#toolbarDemo'
            , page: true //开启分页
            , cols: [[ //表头
                {field: 'id', title: 'ID', width: 80, sort: true}
                // , {field: 'tp', title: '头像', width: 90,templet: "#imgtmp"}
                , {field: 'name', title: '姓名', width: 90}
                , {field: 'username', title: '账号', width: 90}
                , {field: 'password', title: '密码', width: 90}
                , {field: 'age', title: '年龄', width: 80}
                , {field: 'gender', title: '性别', width: 60}
                , {field: 'phone', title: '电话', width: 90}
                , {field: 'location', title: '地址', width: 90}
                , {field: "right", title: "操作", width: 180, toolbar: '#barDemo'}
            ]]
        })


        table.on('toolbar(test)', function (obj) {
            var data = obj.data;
            console.log(data)
            var ename = obj.event;
            if (ename == "add") {//添加事件
                // laydate.render({
                //     elem: '#birthAdd', //指定元素
                //     format: 'yyyy-MM-dd'
                //     // value:new Date() //默认值
                // });

                layer.open(
                    {
                        type: 1,// 消息框，没有确定按钮
                        title: ['添加用户', "padding-left:5px"], // 标题，及标题样式
                        content: layui.$("#ad"), // dom格式
                        anim: 4,
                        area: ['560px', '700px'],
                        //offset:'rb',//可以在右下角显示
                        shade: false //是否遮罩

                    }
                )
            }

        })

        //删除编辑
        table.on('tool(test)', function (obj) {
            var data = obj.data; //获得当前行数据
            console.log(obj)
            //获得 lay-event 对应的值（也可以是表头的 event 参数对应的值）
            var layEvent = obj.event;
            var tr = obj.tr; //获得当前行 tr 的 DOM 对象（如果有的话）
            console.log(tr)
            if (layEvent === 'del') { //删除
                layer.confirm('真的删除行么', function (index) {
                    // 向服务端发送删除请求
                    $.ajax({
                        url: "/adminLoinfor/delete" +"?id="+ data.id,
                        type: "delete",
                        success: function (res) {
                            if (res) {//删除成功
                                obj.del(); //删除对应行（tr）的DOM结构
                                table.reload("table");
                            } else {//删除失败
                                layer.alert("删除失败", {title: '结果', icon: 2})
                            }
                        }
                    })

                    // 此处可以发送ajax
                    //obj.del(); //删除对应行（tr）的DOM结构
                    layer.close(admin_index);
                });
            } else if (layEvent === 'edit') {//编辑
                form.val("udForm", data);   //执行一个laydate实例


                layer.open(
                    {
                        type: 1,// 消息框，没有确定按钮
                        title: ["hello", "padding-left:5px"], // 标题，及标题样式
                        content: layui.$("#ud"), // dom格式
                        anim: 4,
                        area: ['560px', '700px'],
                        //offset:'rb',//可以在右下角显示
                        shade: false, //是否遮罩
                        /*end:function(){

                            obj.update({

                                name: $("#nnn").val(),
                                age: $("#ud input:eq(2)").val(),
                                gender:$("#ud input:checked").val(),
                                birth:$("#ud input:eq(5)").val()
                            });
                        }*/
                    }
                )
            }
        })


        form.on("submit(formDemo)", function (data) {

            console.log(111);
            $.ajax({
                url: "/adminLoinfor/update",
                type: "put",
                contentType: "application/json",
                data: JSON.stringify(data.field),
                success: function (res) {
                    layer.closeAll();
                    table.reload("cell");
                }
            })
        })

        form.on('submit(formAdd)', function (data) {
            console.log("111")
            console.log(data);
            $.ajax({
                url: "/adminLoinfor/add",
                type: "POST",
                data: data.field,
                success: function (res) {
                    console.log(res);
                    layer.closeAll();
                    var af = $("#ad form");//选中添加的表单(jquery)
                    var ff = af.get(0);//jquery元素 变成dom对象
                    ff.reset();//表单数据重置
                    table.reload('demo', {

                        page: {
                            curr: 1 //重新从第 1 页开始
                        }
                    }); //只重载数据
                }
            })
            return false; //阻止表单跳转。如果需要表单跳转，去掉这段即可。
        });


    })





</script>

<!--<script type="text/html" id="imgtmp">-->
<!--    <img src="{{d.tp}}" style="width: 100px;height: 70px"/>-->
<!--</script>-->








<div id="ud" style="display: none;width: 460px;margin-top: 50px">
    <form class="layui-form" action="" lay-filter="udForm">
        <div class="layui-form-item">
            <label class="layui-form-label">ID</label>
            <div class="layui-input-block">
                <input type="text" name="id" readonly lay-verify="required" autocomplete="off" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">姓名</label>
            <div class="layui-input-block">
                <input type="text" name="name"  required lay-verify="required" autocomplete="off"
                       class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">账号</label>
            <div class="layui-input-block">
                <input type="text" name="username" required lay-verify="required" autocomplete="off"
                       class="layui-input">
            </div>
        </div>


        <div class="layui-form-item">
            <label class="layui-form-label">密码</label>
            <div class="layui-input-block">
                <input type="text" name="password" required lay-verify="required" autocomplete="off"
                       class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">年龄</label>
            <div class="layui-input-block">
                <input type="text" name="age" required lay-verify="required" autocomplete="off"
                       class="layui-input">
            </div>
        </div>


        <div class="layui-form-item">
            <label class="layui-form-label">性别</label>
            <div class="layui-input-block">
                <input type="text" name="gender" required lay-verify="required" autocomplete="off"
                       class="layui-input">
            </div>
        </div>


        <div class="layui-form-item">
            <label class="layui-form-label">电话</label>
            <div class="layui-input-block">
                <input type="text" name="phone" required lay-verify="required" autocomplete="off"
                       class="layui-input">
            </div>
        </div>


        <div class="layui-form-item">
            <label class="layui-form-label">地址</label>
            <div class="layui-input-block">
                <input type="text" name="location" required lay-verify="required" autocomplete="off"
                       class="layui-input">
            </div>
        </div>


        <div class="layui-form-item">
            <div class="layui-input-block">
                <button type="button" class="layui-btn" lay-submit lay-filter="formDemo">立即提交</button>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
        </div>
    </form>

</div>


<div id="ad" style="display: none;width: 460px;margin-top: 50px">
    <form class="layui-form" action="" lay-filter="udForm">


        <div class="layui-form-item">
            <label class="layui-form-label">姓名</label>
            <div class="layui-input-block">
                <input type="text" name="name" id="nnn" required lay-verify="required" autocomplete="off"
                       class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">账号</label>
            <div class="layui-input-block">
                <input type="text" name="username" required lay-verify="required" autocomplete="off"
                       class="layui-input">
            </div>
        </div>


        <div class="layui-form-item">
            <label class="layui-form-label">密码</label>
            <div class="layui-input-block">
                <input type="text" name="password" required lay-verify="required" autocomplete="off"
                       class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">年龄</label>
            <div class="layui-input-block">
                <input type="text" name="age" required lay-verify="required" autocomplete="off"
                       class="layui-input">
            </div>
        </div>


        <div class="layui-form-item">
            <label class="layui-form-label">性别</label>
            <div class="layui-input-block">
                <input type="text" name="gender" required lay-verify="required" autocomplete="off"
                       class="layui-input">
            </div>
        </div>


        <div class="layui-form-item">
            <label class="layui-form-label">电话</label>
            <div class="layui-input-block">
                <input type="text" name="phone" required lay-verify="required" autocomplete="off"
                       class="layui-input">
            </div>
        </div>


        <div class="layui-form-item">
            <label class="layui-form-label">地址</label>
            <div class="layui-input-block">
                <input type="text" name="location" required lay-verify="required" autocomplete="off"
                       class="layui-input">
            </div>
        </div>


        <div class="layui-form-item">
            <div class="layui-input-block">
                <button type="button" class="layui-btn" lay-submit lay-filter="formAdd">立即添加</button>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
        </div>
    </form>

</div>

<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>

<!--新增的按钮样式-->
<script type="text/html" id="toolbarDemo">
    <div class="layui-btn-container">
        <button class="layui-btn layui-btn-sm" lay-event="add">
            <i class="layui-icon layui-icon-add-1"></i>
        </button>
    </div>
</script>
</html>