<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>基因重组视频管理系统</title>
</head>
<body>
	<!-- 头部导航 -->
	<div th:replace="admin/common/nav.html"></div>
	
	<div class="admin-iframe-content">
		<div class="admin-iframe-menu">
			<ul class="menus">


					<li class="menu">
						<li><a href="javascript:page('/admin/one');">管理中心首页</a></li>
						<li><a href="javascript:page('/admin/all');">管理员信息</a></li>
					</li>


			</ul>
		</div>

<!--		<div th:replace="admin/menu/userList.html"></div>-->
		<!--载入页面-->
		<div class="admin-markdown">
			<iframe id="page" th:src="@{/admin/one}"></iframe>
		</div>
	</div>




	<div class="footer-wrap" >
		<div th:replace="admin/common/footer.html"></div>
	</div>
</body>
</html>