<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
	<meta charset="UTF-8">
	<title>Title</title>
</head>
<body>
<div class='unit'>
	<div class='left'><p class='subtitle'>程序版本：</p></div>
	<div class='right'>yaoqishan 1.0.0</div>
	<span class='clearfix'></span>
	</div>
<div class='unit'>
	<div class='left'><p class='subtitle'>作者：</p></div>
	<div class='right'>陈霓清</div>
	<span class='clearfix'></span>
	</div>
<div class='unit'>
	<div class='left'><p class='subtitle'>联系方式：</p></div>
	<div class='right'>QQ：291026192</div>
	<span class='clearfix'></span>
	</div>
<div class='unit'>
	<div class='left'><p class='subtitle'>官网：</p></div>
	<div class='right'><a href='http://www.javaex.cn/' target='_blank'>http://www.javaex.cn/</a></div>
	<span class='clearfix'></span>
	</div>
<div class='unit'>
	<div class='left'><p class='subtitle'>版权所有：</p></div>
	<div class='right'>陈霓清</div>
	<span class='clearfix'></span>
	</div>
</body>
</html>