<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>视频</title>
</head>
<body>
	<!-- 头部导航 -->
	<div th:replace="admin/common/nav.html"></div>

	<div class="admin-iframe-content">
		<div class="admin-iframe-menu">
			<ul class="menu">
				<li id="menu-type"><a th:href="@{/admin/video/type}">分类管理</a></li>
				<li id="menu-check"><a th:href="@{/admin/video/check}">审核管理</a></li>
				<li id="menu-info" class="active"><a th:href="@{/admin/video/info}">视频信息</a></li>
			</ul>
		</div>

		<!--载入页面-->
		<div class="admin-markdown">
			<iframe id="page" src="${pageContext.request.contextPath}/field_info/list.action"></iframe>
		</div>
	</div>

	<!-- 底部js函数 -->
<!--	<c:import url="../common/footer.jsp"></c:import>-->
	<div th:replace="/admin/common/footer.jsp">

	</div>
	<script>
		// 获取菜单项
		var menuType = document.getElementById('menu-type');
		var menuCheck = document.getElementById('menu-check');
		var menuInfo = document.getElementById('menu-info');

		// 为菜单项绑定点击事件
		menuType.addEventListener('click', function () {
			// 移除其他菜单项的选中状态
			menuCheck.classList.remove('active');
			menuInfo.classList.remove('active');
			// 为当前点击的菜单项添加选中状态
			menuType.classList.add('active');
		});

		menuCheck.addEventListener('click', function () {
			// 移除其他菜单项的选中状态
			menuType.classList.remove('active');
			menuInfo.classList.remove('active');
			// 为当前点击的菜单项添加选中状态
			menuCheck.classList.add('active');
		});

		menuInfo.addEventListener('click', function () {
			// 移除其他菜单项的选中状态
			menuType.classList.remove('active');
			menuCheck.classList.remove('active');
			// 为当前点击的菜单项添加选中状态
			menuInfo.classList.add('active');
		});


	</script>

</body>
</html>