<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>视频</title>
</head>
<body>
	<!-- 头部导航 -->
	<div th:replace="admin/common/nav.html"></div>

	<div class="admin-iframe-content">
		<div class="admin-iframe-menu">
			<ul class="menu">
				<li ><a th:href="@{/admin/video/type}">分类管理</a></li>
				<li ><a th:href="@{/admin/video/check}">审核管理</a></li>
				<li class="active"><a th:href="@{/admin/video/info}">视频信息</a></li>
<!--<li><a th:href="javascript:page('${pageContext.request.contextPath}/media_info/list_recycle.action');">回收站</a></li>-->
			</ul>
		</div>

		<!--载入页面-->
		<div class="admin-markdown">
			<iframe id="page" src="${pageContext.request.contextPath}/field_info/list.action"></iframe>
		</div>
	</div>

	<!-- 底部js函数 -->
	<c:import url="../common/footer.jsp"></c:import>
</body>
</html>