<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
<meta charset="utf-8">
<title th:text="${session.user.name+'的个人空间'}"></title>
<template th:replace="portal/common/common.html"></template>
<style>
	.name-edit{left: 0px;background: white}
    .edit-btn {height: 33px;padding: 0 15px;border-radius: 33px;line-height: 33px;font-size: 14px;display: inline-block;background: #5dc49a;color: #fff;vertical-align: top;cursor: pointer;}
	.set-tit{display: inline-block; vertical-align: top; width: 44px; line-height: 19px; font-size: 14px; color: #999;}
	.user-avatar{display: inline-block; cursor: pointer;}
	.user-avatar img{display: block; width: 50px; height: 50px; border: 3px solid #484848; border-radius: 50%;}
    .edit-input {display: block;height: 33px;padding: 5px 10px;background: #eee1e0;border: 1px solid #515151;border-radius: 33px;box-sizing: border-box;font-size: 14px;line-height: 19px;color: #1d1616;}
	.page-wrapfooter-wrap{position: absolute; width: 100%; bottom: 0; left: 0; right: 0;}
    input[type="text"], input[type="password"] {border: none;width: 225px;position: relative;display: inline-block;margin: 0px 3px;}
	input[type="date"]{border: none;width: 20%}
    #change_password {display: none;width: 620px;position: absolute;top: 5px;left: 5px;border-radius: 10px;}
</style>
</head>
<body>
	<!-- 头部 -->
	<div class="yaoqishan-header">
		<div th:replace="portal/user/personal/header.html"></div>
	</div>
			
	<!--主体-->
	<div style="width: 1340px; margin: 20px auto;">
		<div class="block no-shadow">
			<h2>个人设置</h2>
			<div class="main">
				<table class="table no-line">
					<tbody>
						<tr>
							<td style="height: 30px;">ID</td>
							<td th:text="${session.user.id}"></td>
							<td></td>
						</tr>
						<tr>
							<td style="height: 30px;">昵称</td>
							<td style="position: relative;">
								<span th:text="${session.user.name}"></span>
								<div id="change_name" class="name-edit" style="background: none;display: none;width: 60%;position: absolute;top: 5px;">
									<input type="text" id="name" class="edit-input original" style="width: 60%;display: inline-block"/>
									<a class="edit-btn" onclick="changeName()" style="display: inline-block;margin:0">保存</a>
								</div>
							</td>
							<td><a href="javascript:;" onclick="showChangeName()" style="color: #055f95;">修改</a></td>
						</tr>
						<tr>
							<td style="height: 30px;">邮箱</td>
							<td style="position: relative;">
								<span th:text="${session.user.email}"></span>
								<div id="change_email" class="name-edit" style="background: none;display: none;width: 60%;position: absolute;top: 5px;">
									<input type="text" id="email" class="edit-input original" style="width: 60%;display: inline-block"/>
									<a class="edit-btn" onclick="changeEmail()" style="display: inline-block;margin:0">保存</a>
								</div>
							</td>
							<td><a href="javascript:;" onclick="showChangeEmail()" style="color: #055f95;">换绑</a></td>
						</tr>
						<tr>
							<td style="height: 30px;">密码</td>
							<td style="position: relative;">
								<span class="set-con">***********</span>
								<div id="change_password" class="name-edit">
									<div style="display: inline-block">原密码:</div><input type="password" id="password" class="edit-input original" />
									<div style="display: inline-block">新密码:</div><input type="password" id="newPassword" class="edit-input original" />
									<a class="edit-btn" onclick="changePassword()">保存</a>
								</div>
							</td>
							<td><a href="javascript:;" onclick="showChangePassword()" style="color: #055f95;">修改</a></td>
						</tr>
						<tr>
							<td style="height: 30px;">手机号</td>
							<td style="position: relative;">
								<span th:text="${session.user.phone}"></span>
								<div id="change_phone" class="name-edit" style="background: none;display: none;width: 60%;position: absolute;top: 5px;">
									<input type="text" id="phone" class="edit-input original" style="width: 60%;display: inline-block"/>
									<a class="edit-btn" onclick="changePhone()" style="display: inline-block;margin:0">保存</a>
								</div>
							</td>
							<td><a href="javascript:;" onclick="showChangePhone()" style="color: #055f95;">换绑</a></td>
						</tr>
						<tr>
							<td style="height: 30px;">生日</td>
							<td><input id="birth" class="layui-input" type="date" th:value="${#dates.format(session.user.birth,'yyyy-MM-dd')}"/></td>
							<td><a href="javascript:;" onclick="changeBirth()" style="color: #055f95;">修改</a></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	
	<!--底部-->
	<div class="page-wrap footer-wrap" >
		<div th:replace="portal/common/footer.html"></div>
	</div>
</body>
<script th:inline="javascript">

	var userToken = getCookie("userToken");

    // 修改昵称
    function showChangeName() {
        $("#change_name").show();
    }
    function changeName() {
        if ($("#name").val()=="") {
            javaex.optTip({
                content : "请填写新的昵称",
                type : "error"
            });
        } else {
            sendName();
        }
    }
    // 获取验证码
    function sendName() {
        javaex.optTip({
            content: "系统处理中，请稍候...",
            type: "submit"
        });

        $.ajax({
            url: "/user/saveOrUpdate",
            type: "POST",
            dataType: "json",
            data: {
                id: [[${session.user.id}]],
                name: $("#name").val()
            },
            success: function (rtn) {
                if (rtn.code == "2") {
                    javaex.optTip({
                        content: "修改成功",
                        type: "success"
                    });
                    setTimeout(function () {
                        window.location.reload();
                    }, 2000);
                } else {
                    javaex.optTip({
                        content: "修改失败",
                        type: "error"
                    });
                }
            },
	        error:function (res){
                javaex.optTip({
                    content: "该昵称已存在",
                    type: "error"
                });
	        }
        });
    }



	
	// 换绑邮箱
	function showChangeEmail() {
		$("#change_email").show();
	}

	function changeEmail() {
		if ($("#email").val()=="") {
			javaex.optTip({
				content : "请填写新的邮箱地址",
				type : "error"
			});
		} else {
			sendEmail();
		}
	}
	// 获取验证码
	function sendEmail() {
		javaex.optTip({
			content : "系统处理中，请稍候...",
			type : "submit"
		});
		
		$.ajax({
			url : "/user/saveOrUpdate",
			type : "POST",
			dataType : "json",
			data : {
				id:[[${session.user.id}]],
				email:$("#email").val()
			},
			success : function(rtn) {
				if (rtn.code=="2") {
					javaex.optTip({
						content : "修改成功",
						type : "success"
					});
                    setTimeout(function() {
                        window.location.reload();
                    }, 2000);
					
					// javaex.alert({
					// 	title : "填写验证码",
					// 	width : "300",
					// 	content : '验证码已发至旧邮箱，<br />请填写收到的验证码<br /><input type="text" class="text" id="identifying_code" style="width: 100%;" value="" />',
					// 	callback : "saveEmail()"
					// });
				} else {
					javaex.optTip({
						content : "修改失败",
						type : "error"
					});
				}
			},
            error:function (res){
                javaex.optTip({
                    content: "该邮箱已被使用",
                    type: "error"
                });
            }
		});
	}
	// 修改邮箱
	// function saveEmail() {
	// 	var newEmail = $("#email").val();
	// 	$.ajax({
	// 		url : "${pageContext.request.contextPath}/portal/user_info/change_email.json",
	// 		type : "POST",
	// 		dataType : "json",
	// 		data : {
	// 			"email" : newEmail,
	// 			"identifyingCode" : $("#identifying_code").val(),
	// 			"userToken" : userToken
	// 		},
	// 		success : function(rtn) {
	// 			if (rtn.code=="000000") {
	// 				javaex.optTip({
	// 					content : "修改成功",
	// 					type : "success"
	// 				});
	// 				// 建议延迟加载
	// 				setTimeout(function() {
	// 					// 关闭弹出层
	// 					javaex.close();
	// 				}, 2000);
	// 				$("#user_email").text(newEmail);
	// 				$("#change_email").hide();
	// 				return true;
	// 			} else {
	// 				javaex.optTip({
	// 					content : rtn.message,
	// 					type : "error"
	// 				});
	// 			}
	// 		}
	// 	});
	//
	// 	return false;
	// }
	
	// 修改密码
	function showChangePassword() {
		$("#change_password").show();
	}
	function changePassword() {
		$.ajax({
			url : "/user/changePassword",
			type : "POST",
			dataType : "json",
			data : {
                "id":[[${session.user.id}]],
				"password" : $("#password").val(),
				"newPassword" : $("#newPassword").val(),
			},
			success : function(rtn) {
				if (rtn.code=="2") {
					javaex.optTip({
						content : "修改成功",
						type : "success"
					});
                    setTimeout(function() {
                        window.location.reload();
                    }, 2000);
				} else {
					javaex.optTip({
						content : rtn.msg,
						type : "error"
					});
				}
			},
            error:function (res){
                javaex.optTip({
                    content: "未知原因修改失败",
                    type: "error"
                });
            }
		});
	}

    // 修改手机号
    function showChangePhone() {
        $("#change_phone").show();
    }
    function changePhone() {
        if ($("#phone").val()=="") {
            javaex.optTip({
                content : "请填写新的手机号",
                type : "error"
            });
        } else {
            sendPhone();
        }
    }
    // 获取验证码
    function sendPhone() {
        javaex.optTip({
            content: "系统处理中，请稍候...",
            type: "submit"
        });

        $.ajax({
            url: "/user/saveOrUpdate",
            type: "POST",
            dataType: "json",
            data: {
                id: [[${session.user.id}]],
                phone: $("#phone").val()
            },
            success: function (rtn) {
                if (rtn.code == "2") {
                    javaex.optTip({
                        content: "修改成功",
                        type: "success"
                    });
                    setTimeout(function () {
                        window.location.reload();
                    }, 2000);
                } else {
                    javaex.optTip({
                        content: "修改失败",
                        type: "error"
                    });
                }
            },
            error:function (res){
                javaex.optTip({
                    content: "手机号已存在",
                    type: "error"
                });
            }
        });
    }

    function changeBirth(){
        javaex.optTip({
            content: "系统处理中，请稍候...",
            type: "submit"
        });

        if ($("#birth").val() == ''){
	        javaex.optTip({
		        content: "请输入生日!",
		        type: "error"
	        });
        }else{
            $.ajax({
                url: "/user/saveOrUpdate",
                type: "POST",
                dataType: "json",
                data: {
                    id: [[${session.user.id}]],
                    birth: $("#birth").val()
                },
                success: function (rtn) {
                    if (rtn.code == "2") {
                        javaex.optTip({
                            content: "修改成功",
                            type: "success"
                        });
                        setTimeout(function () {
                            window.location.reload();
                        }, 2000);
                    } else {
                        javaex.optTip({
                            content: "修改失败",
                            type: "error"
                        });
                    }
                }
            });
        }
    }

    let arr = [];
    document.addEventListener("mouseup",ev => {
        arr.length = 0;
        let a = document.getElementById("change_name");
        let b = document.getElementById("change_email");
        let c = document.getElementById("change_password");
        let d = document.getElementById("change_phone");

        arr.push(ev.target);
        getParent(ev.target);
        arr.push(window);

        if (!arr.includes(a)){
            $("#change_name").css("display","none");
        }
        if (!arr.includes(b)){
            $("#change_email").css("display","none");
        }
        if (!arr.includes(c)){
            $("#change_password").css("display","none");
        }
        if (!arr.includes(d)){
            $("#change_phone").css("display","none");
        }
    })


    function getParent(obj){
        if (obj.parentNode){
            arr.push(obj.parentNode);
        }else{
            return;
        }
        getParent(obj.parentNode);
    }
</script>
</html>

