<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
<meta charset="utf-8">
<title>基因重组</title>
<meta name="keywords" content="${seoInfo.keywords}" />
<meta name="description" content="${seoInfo.description}" />
<template th:replace="portal/common/common.html"></template>
</head>
<body>
	<!--头部-->
	<div class="header-wrap header-channel">
		<div th:replace="portal/common/header.html"></div>
	</div>

	<!--内容-->
	<div style="width: 1340px; margin: 20px auto;">
		<!--首页第一个聚合内容-->
		<div class="block no-shadow">
			<div class="main" style="margin-bottom: -40px;">
				<div class="grid-1-1-1 spacing-20">
					<div>
						<div style="width: 420px;height: 244px;position: relative;margin-bottom: 20px;">
							<a href="http://www.javaex.cn/" target="_blank"><img src="http://173.javaex.cn/Fl9vo0PYYkFWc95sJm9UyfSxumNz" width="100%" height="100%"></a>
							
							<div class="t">
								<p class="t1"><span><a href="http://www.javaex.cn/" target="_blank">java程序员写的前端框架</a></span></p>
							</div>
						</div>
						<ul class="equal-2" id="juhe2" style="width: 440px;margin-right: -20px;">
							<li>
								<div class="poly-ul-img">
									<a href="#" target="_blank">
										<img src="http://173.javaex.cn/FmimHy5MLxEtcAg5Tm72vbT0eu_f" width="100%" height="100%" />
									</a>
								</div>
								<div class="poly-title">我是来测试的</div>
							</li>
							<li>
								<div class="poly-ul-img">
									<a href="#" target="_blank">
										<img src="http://173.javaex.cn/FmimHy5MLxEtcAg5Tm72vbT0eu_f" width="100%" height="100%" />
									</a>
								</div>
								<div class="poly-title">我是来测试的</div>
							</li>
						</ul>
					</div>


					<div>
						<ul class="equal-2" id="juhe4" style="width: 440px;margin-right: -20px;">
							<li>
								<video width="320" height="240" controls>
									<source src="https://jycz-view.oss-cn-beijing.aliyuncs.com/01_mybatis%E4%BB%8B%E7%BB%8D.mp4" type="video/mp4">
								</video>

								<div class="poly-title">我是来测试的</div>
							</li>
							<li>
								<div class="poly-ul-img">
									<a href="#" target="_blank">
										<img src="http://173.javaex.cn/FmimHy5MLxEtcAg5Tm72vbT0eu_f" width="100%" height="100%" />
									</a>
								</div>
								<div class="poly-title">我是来测试的</div>
							</li>
							<li>
								<div class="poly-ul-img">
									<a href="#" target="_blank">
										<img src="http://173.javaex.cn/FmimHy5MLxEtcAg5Tm72vbT0eu_f" width="100%" height="100%" />
									</a>
								</div>
								<div class="poly-title">我是来测试的</div>
							</li>
							<li>
								<div class="poly-ul-img">
									<a href="#" target="_blank">
										<img src="http://173.javaex.cn/FmimHy5MLxEtcAg5Tm72vbT0eu_f" width="100%" height="100%" />
									</a>
								</div>
								<div class="poly-title">我是来测试的</div>
							</li>
							<li>
								<div class="poly-ul-img">
									<a href="#" target="_blank">
										<img src="http://173.javaex.cn/FmimHy5MLxEtcAg5Tm72vbT0eu_f" width="100%" height="100%" />
									</a>
								</div>
								<div class="poly-title">我是来测试的</div>
							</li>
							<li>
								<div class="poly-ul-img">
									<a href="#" target="_blank">
										<img src="http://173.javaex.cn/FmimHy5MLxEtcAg5Tm72vbT0eu_f" width="100%" height="100%" />
									</a>
								</div>
								<div class="poly-title">我是来测试的</div>
							</li>
						</ul>
					</div>
					<div>
						<div style="width: 420px;height: 112px;margin-bottom: 20px;">
							<a href="http://www.javaex.cn/" target="_blank"><img src="http://173.javaex.cn/FuHDdQCBVHpQjncxdm76yzO2q6fj" width="100%" height="100%"></a>
						</div>
						<div style="width: 420px;height: 244px;position: relative">
							<a href="#" target="_blank"><img src="http://173.javaex.cn/FgM-UfvaZEVK4mnlPIisI0wPASW6" width="100%" height="100%"></a>
							<div class="t">
								<p class="t1"><span><a href="#" target="_blank">爱如意 电影《阿修罗》主题曲 -- 邓紫棋</a></span></p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!--正在热播-->
		<div class="block no-shadow" style="height:259px;">
			<div class="main">
				<div class="tab">
					<div class="tab-title">
						<img class="mod-icon" src="images/ico1.png" />
						<em>正在热播</em>
					</div>
					<div class="tab-content">
						<ul id="month_hot" class="equal-6 cover">
							<li>
								<a href="#" target="_blank" class="screenshot">
									<span class="duration">更新至第8集</span>
									<img src="http://173.javaex.cn/FpDRB9J4fYUJ2EddbM3CTvway8lZ" width="100%" height="100%" />
								</a>
								<p class="screenshot-title"><a href="#" target="_blank">热血狂篮</a></p>
								<p>100次播放</p>
							</li>
							<li>
								<a href="#" target="_blank" class="screenshot">
									<span class="duration">更新至第8集</span>
									<img src="http://173.javaex.cn/FpDRB9J4fYUJ2EddbM3CTvway8lZ" width="100%" height="100%" />
								</a>
								<p class="screenshot-title"><a href="#" target="_blank">热血狂篮</a></p>
								<p>100次播放</p>
							</li>
							<li>
								<a href="#" target="_blank" class="screenshot">
									<span class="duration">更新至第8集</span>
									<img src="http://173.javaex.cn/FpDRB9J4fYUJ2EddbM3CTvway8lZ" width="100%" height="100%" />
								</a>
								<p class="screenshot-title"><a href="#" target="_blank">热血狂篮</a></p>
								<p>100次播放</p>
							</li>
							<li>
								<a href="#" target="_blank" class="screenshot">
									<span class="duration">更新至第8集</span>
									<img src="http://173.javaex.cn/FpDRB9J4fYUJ2EddbM3CTvway8lZ" width="100%" height="100%" />
								</a>
								<p class="screenshot-title"><a href="#" target="_blank">热血狂篮</a></p>
								<p>100次播放</p>
							</li>
							<li>
								<a href="#" target="_blank" class="screenshot">
									<span class="duration">更新至第8集</span>
									<img src="http://173.javaex.cn/FpDRB9J4fYUJ2EddbM3CTvway8lZ" width="100%" height="100%" />
								</a>
								<p class="screenshot-title"><a href="#" target="_blank">热血狂篮</a></p>
								<p>100次播放</p>
							</li>
							<li>
								<a href="#" target="_blank" class="screenshot">
									<span class="duration">更新至第8集</span>
									<img src="http://173.javaex.cn/FpDRB9J4fYUJ2EddbM3CTvway8lZ" width="100%" height="100%" />
								</a>
								<p class="screenshot-title"><a href="#" target="_blank">热血狂篮</a></p>
								<p>100次播放</p>
							</li>
							<span class="clearfix"></span>
						</ul>
					</div>
				</div>
			</div>
		</div>

		<!--搞笑-->
		<div class="block no-shadow" style="height:259px;">
			<div class="main">
				<div class="tab">
					<div class="tab-title">
						<img class="mod-icon" src="images/ico8.png" />
						<em>搞笑</em>
					</div>
					<div class="tab-content">
						<ul id="gaoxiao" class="equal-6 cover">
							<li>
								<a href="#" target="_blank" class="screenshot">
									<img src="http://173.javaex.cn/FmimHy5MLxEtcAg5Tm72vbT0eu_f" width="100%" height="100%" />
								</a>
								<p class="screenshot-title"><a href="#" target="_blank">我是来测试的</a></p>
								<p>100次播放</p>
							</li>
							<li>
								<a href="#" target="_blank" class="screenshot">
									<img src="http://173.javaex.cn/FmimHy5MLxEtcAg5Tm72vbT0eu_f" width="100%" height="100%" />
								</a>
								<p class="screenshot-title"><a href="#" target="_blank">我是来测试的</a></p>
								<p>100次播放</p>
							</li>
							<li>
								<a href="#" target="_blank" class="screenshot">
									<img src="http://173.javaex.cn/FmimHy5MLxEtcAg5Tm72vbT0eu_f" width="100%" height="100%" />
								</a>
								<p class="screenshot-title"><a href="#" target="_blank">我是来测试的</a></p>
								<p>100次播放</p>
							</li>
							<li>
								<a href="#" target="_blank" class="screenshot">
									<img src="http://173.javaex.cn/FmimHy5MLxEtcAg5Tm72vbT0eu_f" width="100%" height="100%" />
								</a>
								<p class="screenshot-title"><a href="#" target="_blank">我是来测试的</a></p>
								<p>100次播放</p>
							</li>
							<li>
								<a href="#" target="_blank" class="screenshot">
									<img src="http://173.javaex.cn/FmimHy5MLxEtcAg5Tm72vbT0eu_f" width="100%" height="100%" />
								</a>
								<p class="screenshot-title"><a href="#" target="_blank">我是来测试的</a></p>
								<p>100次播放</p>
							</li>
							<li>
								<a href="#" target="_blank" class="screenshot">
									<img src="http://173.javaex.cn/FmimHy5MLxEtcAg5Tm72vbT0eu_f" width="100%" height="100%" />
								</a>
								<p class="screenshot-title"><a href="#" target="_blank">我是来测试的</a></p>
								<p>100次播放</p>
							</li>
							<span class="clearfix"></span>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!--底部-->
	<div class="footer-wrap js-use-footer" >
		<div th:replace="portal/common/footer.html"></div>
	</div>
</body>
<script>
	javaex.tab({
		id : "tab1",
		mode : "click"
	});
	
	javaex.tab({
		id : "tab2",
		display : "flex",
		mode : "click"
	});
	
	javaex.tab({
		id : "tab3",
		display : "flex",
		mode : "click"
	});
	
	javaex.tab({
		id : "tab4",
		mode : "click"
	});
</script>
</html>
