<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<title>审核管理</title>
	<!-- 导入公共HTML片段 -->
	<div th:replace="admin/common/common.html"></div>
	<!-- 导入Bootstrap样式 -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/css/bootstrap.min.css">
</head>
<body>

<!--<div th:replace="admin/common/nav.html"></div>-->

<!--<div class="admin-iframe-content">-->
<!--	<div class="admin-iframe-menu">-->
<!--		<ul class="menu">-->
<!--			<li id="menu-type"><a th:href="@{/admin/video/type}">分类管理</a></li>-->
<!--			<li id="menu-check"><a th:href="@{/admin/video/check}">审核管理</a></li>-->
<!--			<li id="menu-info" ><a th:href="@{/admin/video/info}">视频信息</a></li>-->
<!--		</ul>-->
<!--	</div>-->
<!--	&lt;!&ndash; 面包屑导航和主体内容 &ndash;&gt;-->
<!--	<div class="content">-->
<!--		&lt;!&ndash;面包屑导航&ndash;&gt;-->
<!--		<div class="content-header">-->
<!--			<div class="breadcrumb">-->
<!--				<span>视频</span>-->
<!--				<span class="divider">/</span>-->
<!--				<span class="active">审核管理</span>-->
<!--			</div>-->
<!--		</div>-->

<!--	</div>-->
<!--</div>-->

<!--全部主体内容-->
<div class="list-content">
	<!--块元素-->
	<div class="block">
		<!--页面有多个表格时，可以用于标识表格-->
		<h2>违规列表</h2>
		<a href="javascript:history.back();">
			<button class="button wathet" style="position: absolute;right: 20px;top: 16px;"><span class="icon-arrow_back"></span> 返回</button>
		</a>

		<!--正文内容-->
		<div class="main">
			<!--表格上方的操作元素，添加、删除等-->
			<div class="operation-wrap">
				<div class="buttons-wrap">
					<button id="add" class="button blue" data-toggle="modal" data-target="#myModal"><span class="icon-plus"></span> 添加</button>
					<button id="delete" class="button red"><span class="icon-minus"></span> 删除</button>
					<button id="search" class="button yellow"><span class="icon-search2" onclick="sendSearchRequest()"></span> 搜索</button>
					<input id="text" class="button text" type="text">
				</div>
			</div>
			<!-- 弹出框的内容 -->
			<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="myModalLabel">添加违规原因</h5>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<div class="modal-body">
							<!-- 弹出框的内容 -->
							<input type="text" class="form-control" id="inputName" placeholder="请输入违规名称">
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
							<button type="button" class="btn btn-primary" onclick="sendAddRequest()">保存</button>
						</div>
					</div>
				</div>
			</div>
			<!--class加上color可以实现隔行变色-->
			<!--color1表示奇数行着色、color2表示偶数行着色-->
			<table id="table" class="table">
				<thead>
				<tr>
<!--					<th class="checkbox"><input type="checkbox" class="fill listen-1" /> </th>-->
					<th>索引</th>
					<th>违规原因</th>
					<th>操作</th>
				</tr>
				</thead>
				<tbody id="type_result">
				</tbody>
			</table>
			<!-- 分页功能 -->
			<div class="pagination-wrap">
				<ul class="pagination">
					<li class="page-item">
						<a class="page-link" href="#" onclick="changePage(1)">首页</a>
					</li>
					<li class="page-item">
						<a class="page-link" href="#" onclick="changePage(currentPage-1)">上一页</a>
					</li>
					<li class="page-item">
						<a class="page-link" href="#">
							<input type="text" class="form-control" id="pageNumInput" style="display: inline-block; width: 50px;height: 20px">
						</a>
					</li>
					<li class="page-item">
						<a class="page-link" href="#" onclick="changePage(currentPage+1)">下一页</a>
					</li>
					<li class="page-item">
						<a class="page-link" href="#" onclick="changePage(totalPages)">尾页</a>
					</li>
					<li class="page-item">
						<a class="page-link" href="#" onclick="changePage($('#pageNumInput').val())">跳转</a>
					</li>
				</ul>
			</div>

		</div>
	</div>
</div>
<script>
	// 获取菜单项
	var menuType = document.getElementById('menu-type');
	var menuCheck = document.getElementById('menu-check');
	var menuInfo = document.getElementById('menu-info');

	// 为菜单项绑定点击事件
	menuType.addEventListener('click', function () {
		// 移除其他菜单项的选中状态
		menuCheck.classList.remove('active');
		menuInfo.classList.remove('active');
		// 为当前点击的菜单项添加选中状态
		menuType.classList.add('active');
	});

	menuCheck.addEventListener('click', function () {
		// 移除其他菜单项的选中状态
		menuType.classList.remove('active');
		menuInfo.classList.remove('active');
		// 为当前点击的菜单项添加选中状态
		menuCheck.classList.add('active');
	});

	menuInfo.addEventListener('click', function () {
		// 移除其他菜单项的选中状态
		menuType.classList.remove('active');
		menuCheck.classList.remove('active');
		// 为当前点击的菜单项添加选中状态
		menuInfo.classList.add('active');
	});
	// 初始化时设置默认选中项
	// 这里使用URL来判断当前页面的路径，根据路径设置相应的菜单项为选中状态
	var currentUrl = window.location.pathname;
	if (currentUrl.indexOf('/admin/video/type') === 0) {
		menuType.classList.add('active');
	} else if (currentUrl.indexOf('/admin/video/check') === 0) {
		menuCheck.classList.add('active');
	} else if (currentUrl.indexOf('/admin/video/info') === 0) {
		menuInfo.classList.add('active');
	}
</script>

<!-- 导入jQuery和Bootstrap的JavaScript文件 -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.min.js"></script>
</body>
<script>
	$(function () {
		var reason = $("#text").val(); // 从页面中获取输入的名称
		var pageNum = 1; // 设置页码
		var pageSize = 10; // 设置每页显示的数量

		console.log(reason)
		// 发起Ajax请求
		$.ajax({
			url: '/videochecks/search', // 请求的URL
			type: 'GET', // 请求的方法
			data: {
				reason: reason,
				pageNum: pageNum,
				pageSize: pageSize
			}, // 请求的参数
			dataType: 'json', // 响应的数据类型
			success: function(result) {
				// 请求成功的处理逻辑
				console.log('请求成功', result);
				// 可以在这里根据返回的数据更新页面内容
				// 返回的数据是一个数组，包含多个对象
				var dataArray = result.data.list; // 数据在返回对象的 data 字段中
				var html = "";

				// 遍历数据数组，将每个对象添加为一行到表格中
				for (var i = 0; i < dataArray.length; i++) {
					html += "<tr>" +
							// "<td class=\"checkbox\"><input type=\"checkbox\" class=\"fill listen-1\" /></td>" +
							"<td>"+dataArray[i].id+"</td>" +
							"<td>"+dataArray[i].reason+"</td>" +
							"<td><button id=\"update\" class=\"button green\" onclick=\"\"><span class=\"icon-gear\"></span> 编辑</button>&nbsp;&nbsp;&nbsp;&nbsp;<button id=\"delete\" class=\"button red\"><span class=\"icon-minus\"></span> 删除</button></td>" +
							"</tr>"

				}

				$("#type_result").html(html);


			},
			error: function(xhr, textStatus, errorThrown) {
				// 请求失败的处理逻辑
				console.log('请求失败', errorThrown);
				// 可以在这里处理请求失败的情况，例如显示错误信息
			},
			complete: function() {
				// 请求完成的处理逻辑，无论成功或失败都会执行
				console.log('请求完成');
				// 可以在这里隐藏加载器等操作
			}
		});
	});
	function sendAddRequest() {
		// 获取请求参数
		var reason = $("#inputName").val(); // 从页面中获取输入的名称
		console.log(reason);
		// 发起Ajax请求
		$.ajax({
			url: '/videochecks/add', // 请求的URL，假设为添加接口
			type: 'POST', // 请求的方法为POST，添加操作一般使用POST请求
			data: {
				reason: reason,
			}, // 请求的参数，根据实际情况修改
			dataType: 'json', // 响应的数据类型
			success: function(result) {
				// 请求成功的处理逻辑
				console.log('请求成功', result);
				// 可以在这里根据返回的数据更新页面内容
				// 返回的数据是一个数组，包含多个对象
				var dataArray = result.data.list; // 数据在返回对象的 data 字段中
				var html = "";
				// 遍历数据数组，将每个对象添加为一行到表格中
				for (var i = 0; i < dataArray.length; i++) {
					html += "<tr>" +
							"<td><input class='fill listen-1' type='checkbox'></td>" +
							"<td>" + dataArray[i].id + "</td>" +
							"<td>" + dataArray[i].reason + "</td>" +
							"<td><button id=\"update\" class=\"button blue\" onclick=\"\"><span class=\"icon-gear\"></span> 编辑</button><button id=\"delete\" class=\"button red\"><span class=\"icon-minus\"></span> 删除</button></td>" +
							"</tr>"

				}

				$("#type_result").html(html);


			},
			error: function(xhr, textStatus, errorThrown) {
				// 请求失败的处理逻辑
				console.log('请求失败', errorThrown);
				// 可以在这里处理请求失败的情况，例如显示错误信息
			},
			complete: function() {
				// 请求完成的处理逻辑，无论成功或失败都会执行
				console.log('请求完成');
				// 可以在这里隐藏加载器等操作
			}
		});
	}

	function sendSearchRequest() {
		$(function () {
			var reason = $("#text").val(); // 从页面中获取输入的名称
			var pageNum = 1; // 设置页码
			var pageSize = 10; // 设置每页显示的数量

			console.log(reason)
			// 发起Ajax请求
			$.ajax({
				url: '/videochecks/search', // 请求的URL
				type: 'GET', // 请求的方法
				data: {
					reason: reason,
					pageNum: pageNum,
					pageSize: pageSize
				}, // 请求的参数
				dataType: 'json', // 响应的数据类型
				success: function(result) {
					// 请求成功的处理逻辑
					console.log('请求成功', result);
					// 可以在这里根据返回的数据更新页面内容
					// 返回的数据是一个数组，包含多个对象
					var dataArray = result.data.list; // 数据在返回对象的 data 字段中
					var html = "";

					// 遍历数据数组，将每个对象添加为一行到表格中
					for (var i = 0; i < dataArray.length; i++) {
						html += "<tr>" +
								"<td class=\"checkbox\"><input type=\"checkbox\" class=\"fill listen-1\" /></td>" +
								"<td>"+dataArray[i].id+"</td>" +
								"<td>"+dataArray[i].reason+"</td>" +
								"<td><button id=\"update\" class=\"button green\" onclick=\"\"><span class=\"icon-gear\"></span> 编辑</button>&nbsp;&nbsp;&nbsp;&nbsp;<button id=\"delete\" class=\"button red\"><span class=\"icon-minus\"></span> 删除</button></td>" +
								"</tr>"

					}

					$("#type_result").html(html);


				},
				error: function(xhr, textStatus, errorThrown) {
					// 请求失败的处理逻辑
					console.log('请求失败', errorThrown);
					// 可以在这里处理请求失败的情况，例如显示错误信息
				},
				complete: function() {
					// 请求完成的处理逻辑，无论成功或失败都会执行
					console.log('请求完成');
					// 可以在这里隐藏加载器等操作
				}
			});
		});
	}
</script>
</html>
