<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>视频播放页面</title>
    <script th:src="@{js/jquery-1.9.1.min.js}"></script>
<!--    <script type="text/javascript" th:src="@{js/layui.js}"></script>-->
    <script type="text/javascript" th:src="@{../../js/layui.js}"></script>
    <template th:replace="portal/common/common.html"></template>
    <style>
        div#introDiv {position: relative;margin: 20px auto;width: 738px;background:none;height: 140px;border-bottom: 2px blue solid;border-radius: 5px;border-left: 2px blue solid;border-right: 2px blue solid;}
        div#introHead {height: 30px;line-height: 30px;font-size: 18px;width: 96%;margin: 5px auto 5px;border-bottom: 1px black solid;}
        span#author {position: relative;bottom: 12px;margin: 0px 5px;font-size: 16px;}
        img#authorImg {width: 36px;height: 36px;}
        div#introFoot {width: 96%;margin: 5px auto 5px;height: 40px;position: relative;}
        Div#imgDiv{display: inline-block;border-radius: 50%;overflow: hidden;}
        div#intro {height: 60px;width: 96%;margin: 5px auto 5px;color: #5e5e5e;overflow: hidden;}
        span#type {position: relative;left: 11px;border-radius: 16px;padding: 5px;bottom: 13px;line-height: 20px;background: #b8fbe4;margin: 0px 5px;}
        div#videoFun{border-bottom: 2px #c2c2e5 solid;border-left: 2px #c2c2e5 solid;border-right: 2px #c2c2e5 solid;border-radius: 5px;line-height: 34px;}
        div#commentDiv {width: 738px;margin: 10px auto;}
        div#commentHead {height: 140px;border-bottom: 1px darkgray solid;}
        li.singleComment {margin-top: 20px;height: 140px;border-bottom: 1px darkgray dashed;border-left: 1px darkgray dashed;border-right: 1px darkgray dashed;border-radius: 10px;}
        .imgDiv {position: relative;display: inline-block;border-radius: 50%;overflow: hidden;left: 10px;top: 5px;}
        img.commentImg {width: 36px;height: 36px;border-radius: 50%;border: 1px solid black;}
        span.userName {position: relative;display: inline-block;bottom: 10px;left: 16px;}
        .commentInfo {height: 60px;overflow: hidden;padding: 10px;}
        span.commentDate {position: relative;left: 21px;}
        a.commentDel{position: relative;left: 40px;}
        .layui-flow-more {width: 100%;bottom: 0px;text-align: center;margin-top: 10px;}
        #comment-input{resize: none;width: 620px;height: 50px;border: #8acddf 2px solid;}
        div#acDiv{line-height: 60px;height: 60px}
        button#comment-submit {height: 54px;line-height: 54px;position: relative;border: none;background-color: #8acddf;width: 50px;right: 4px;color: white;font-size: 16px;bottom: 2px;}
        div#comment-form {margin-top: 20px;}
    </style>
</head>
<body>

<!-- 头部 -->

<!--头部-->
<header th:replace="portal/common/videoHeader.html"></header>
<!--播放内容-->
<div >

    <!--正文内容-->

    <div class="block no-shadow" style="background-color:white; width: 1340px;margin-top: 20px">
        <!--        <h5  style="black: white;margin-left: 30px;margin-top: 30px">-->
        <!--            <span style="color: black">播放数</span>-->
        <!--            <span th:text="${vedioPlay.data.viewCount}" style="color: black;margin-right: 50px"></span>-->

        <!--            <span style="color: black">上传日期</span>-->
        <!--            <span th:text="${#dates.format(vedioPlay.data.uploadTime,'yyyy-MM-dd HH:mm:ss')}" style="color: black;margin-right: 50px"></span>-->

        <!--        </h5>-->
        <div style="width: 740px; margin: 20px auto;">
            <h1 th:text="${vedioPlay.data.title}" style="black:white;margin-top: 30px"></h1>
            <video height="450px" width="740px" controls>
                <source th:src="${vedioPlay.data.url}" type="video/mp4" align="center">
            </video>

            <span style="display: none" th:text="${vedioPlay.data.id}" id="vedioId"></span>

            <div id="videoFun">
                <span onclick="videoStar()"><img  src="../../images/star2.png" id="starImg1"></span>
                <span style="margin-right: 50px; font-size: 20px" th:text="${vedioPlay.data.viewStar}" id="viewStar"></span>
                <span ><img  src="../../images/viewCount.png"></span>
                <span th:text="${vedioPlay.data.viewCount}" style="color: black;margin-right: 50px;font-size: 20px"></span>
                <span ><img  src="../../images/date.png"></span>
                <span th:text="${#dates.format(vedioPlay.data.uploadTime,'yyyy-MM-dd HH:mm:ss')}" style="color: black;margin-right: 50px;font-size: 20px"></span>
            </div>
        </div>

        <div id="introDiv">
            <div id="introHead">视频简介</div>
            <div id="intro" th:text="${vedioPlay.data.intro}"></div>
            <div id="introFoot"><div id="imgDiv"><img id="authorImg" th:src="${vedioPlay.data.user.avatar}"></div><span id="author" th:text="${vedioPlay.data.user.name}"></span><span id="type" th:text="${'#'+vedioPlay.data.type}"></span></div>
        </div>


        <div id="commentDiv">
            <div id="commentHead"><span style="font-size: 22px">评论</span>
                <div id="comment-form">
                    <div id="acDiv">
                        <img th:if="${session.user == null}" th:src="@{/images/akari.jpg}" style="width: 50px;height: 50px;border-radius: 50%;border:1px solid #87accd;">
                        <img th:if="${session.user != null}" th:src="${session.user.avatar}" style="width: 50px;height: 50px;border-radius: 50%;border:1px solid #87accd;">
                        <textarea id="comment-input" placeholder="请输入评论内容" style="resize: none"></textarea>
                        <button id="comment-submit">发布</button>
                    </div>

                </div>
            </div>
            <div class="block no-shadow">
                <ul class="flow-default" id="comments_ul">
                </ul>
            </div>
        </div>
</div>

    <!--底部-->
    <div class="footer-wrap" >
        <div th:replace="portal/common/footer.html"></div>
    </div>

</div>

</body>

<script>
    $(function (){
        commentsList();
    })

    var vedioId = $("#vedioId").text();
    function commentsList(){
        layui.use('flow',function (){
            var flow =  layui.flow;
            flow.load({
                elem: '#comments_ul'
                // ,scrollElem: '#LAY_demo1' //滚动条所在元素，一般不用填，此处只是演示需要。
                ,done: function(page, next) { //执行下一页的回调
                    //模拟数据插入
                    setTimeout(function(){
                        var lis = [];
                        $.ajax({
                            url: "/user/getCommentsByVid?vid="+vedioId+"&page="+page,
                            type:"get",
                            success: function (res){
                                var comments = res.data;
                                layui.each(comments,function (index,item){
                                    console.log(item.user.avatar)
                                    console.log(item)

                                    var li = " <li class='singleComment'><div class='imgDiv'><img class='commentImg' src='"+item.user.avatar +"'></div></span>" +
                                            "<span class='userName'>"+item.user.name+"</span>" +
                                            "<div class='commentInfo'>"+item.commentsInfo+"</div>" +
                                            "<span class='commentDate'>"+item.commentsDate+"</span>" +
                                            "<a class='commentDel' href='javascript:;' onclick='deleteComments("+item.id+")'>删除</a>"+
                                            "</li>"

                                    lis.push(li);
                                })
                                next(lis.join(''), page < res.count); //假设总页数为 10
                            }
                        })

                    }, 50);

                }

            })

            // 监听滚动，到达底部时重新渲染
            $(window).scroll(function(){
                if($(document).scrollTop() >= $(document).height()-$(window).height()){
                    flow.load({
                        elem: '#comments_ul',
                        done: function(page, next){
                            // 模拟异步请求
                            setTimeout(function(){
                                var lis = [];
                                $.ajax({
                                    url: "/user/getCommentsByVid?vid="+vedioId+"&page="+page,
                                    type:"get",
                                    success: function (res){
                                        var comments = res.data;
                                        layui.each(comments,function (index,item){
                                            console.log(item.user.avatar)
                                            console.log(item)

                                            var li = " <li class='singleComment'><div class='imgDiv'><img class='commentImg' src='"+item.user.avatar +"'></div></span>" +
                                                    "<span class='userName'>"+item.user.name+"</span>" +
                                                    "<div class='commentInfo'>"+item.commentsInfo+"</div>" +
                                                    "<span class='commentDate'>"+item.commentsDate+"</span>" +
                                                    "<a class='commentDel' href='javascript:;' onclick='deleteComments("+item.id+")'>删除</a>"+
                                                    "</li>"

                                            lis.push(li);
                                        })
                                        next(lis.join(''), page < res.count); //假设总页数为 10
                                    }
                                })
                            }, 50);
                        }
                    });
                }
            });


            // 刷新数据
            function refreshData(){
                flow.load({
                    elem: '#comments_ul',
                    done: function(page, next){
                        // 模拟异步请求
                        setTimeout(function(){
                            var lis = [];
                            $.ajax({
                                url: "/user/getCommentsByVid?vid="+vedioId+"&page="+page,
                                type:"get",
                                success: function (res){
                                    var comments = res.data;
                                    layui.each(comments,function (index,item){
                                        console.log(item.user.avatar)
                                        console.log(item)

                                        var li = " <li class='singleComment'><div class='imgDiv'><img class='commentImg' src='"+item.user.avatar +"'></div></span>" +
                                                "<span class='userName'>"+item.user.name+"</span>" +
                                                "<div class='commentInfo'>"+item.commentsInfo+"</div>" +
                                                "<span class='commentDate'>"+item.commentsDate+"</span>" +
                                                "<a class='commentDel' href='javascript:;' onclick='deleteComments("+item.id+")'>删除</a>"+
                                                "</li>"

                                        lis.push(li);
                                    })
                                    next(lis.join(''), page < res.count); //假设总页数为 10
                                }
                            })
                        }, 500);
                    }
                });
            }


        });

    }


    function deleteComments(id){
       $.ajax({
           url:"/user/deleteById/"+id,
           type:"delete",
           success:function (res){
               console.log(res);
               commentsList();
           }
       })
    }
</script>

<script>

    // 发送评论并更新评论区域的显示
    function postComment() {
        var commentText = $("#comment-input").val();
        var vedioId = $("#vedioId").text();

        console.log(commentText)
        console.log(vedioId)
        $.ajax({
            type: "post",
            url: "/user/saveComments",
            data: { "commentsInfo": commentText,"viewId":vedioId},
            success: function(res) {
                if(res.code == 18){
                    alert("请登录之后在发表评论")
                }
                $("#comment-input").val("");
                commentsList();
            }
        });
    }

    // 为提交按钮添加点击事件监听器
    $("#comment-submit").click(function() {
        postComment();
    });
</script>


<script>

    var img1 = document.getElementById("starImg1");
    img1.addEventListener('mousemove',() =>{
        img1.src = '../../images/star3.png'
    });
    //
    img1.addEventListener('mouseout',()=>{
        img1.src = '../../images/star1.png'
    });



    // 点赞功能实现
    function videoStar(){
        var star = $("#viewStar").text();
        var vedioId = $("#vedioId").text();
        console.log(vedioId);
        console.log(star)
        $.ajax({
            type:"put",
            url:"/videoInfo/star",
            data:{"viewStar":star,"vedioId":vedioId},
            success:function (res){
                console.log(res);
                var img1 = document.getElementById("starImg1");
                console.log(img1);
                if(res.code == 18){
                    alert("请您先点击右上角图案进行登录");
                }

                if(res.code == 2){
                    img1.src = "../../images/star1.png";
                }

                if(res.code == 3){
                    img1.src = "../../images/star1.png";
                }

                $("#viewStar").text(res.data);

            }
        })
    }

    // 获取评论列表
    function getCommentList(pageNum) {
        // 获取评论条数
        $.ajax({
            url : "${pageContext.request.contextPath}/portal/comment_info/get_comment_count.json",
            type : "POST",
            dataType : "json",
            data : {
                "videoId" : videoId
            },
            success : function(rtn) {
                if (rtn.code=="999999") {
                    getCommentList(pageNum);
                    return;
                }
                var commentCount = rtn.data.count;

                // 获取评论列表
                $.ajax({
                    url : "${pageContext.request.contextPath}/portal/comment_info/get_comment_list.json",
                    type : "POST",
                    dataType : "json",
                    data : {
                        videoId : videoId,
                        pageNum : pageNum
                    },
                    success : function(rtn) {
                        if (rtn.code=="999999") {
                            getCommentList(pageNum);
                            return;
                        }

                        var pageInfo = rtn.data.pageInfo;
                        var currentPage = pageInfo.pageNum;
                        var pageCount = pageInfo.pages;

                        var list = pageInfo.list;

                        javaex.comment({
                            id : "comment",
                            avatar : "http://doc.javaex.cn/javaex/javaex/pc/images/user.jpg",
                            url : "http://www.javaex.cn/?UID=",
                            commentCount : commentCount,
                            list : list,
                            commentMapping : {
                                commentId : "id",
                                userId : "userId",
                                userName : "loginName",
                                avatar : "avatar",
                                content : "content",
                                time : "updateTime",
                                replyInfoLsit : "replyInfoLsit"
                            },
                            replyMapping : {
                                userId : "userId",
                                userName : "loginName",
                                avatar : "avatar",
                                toUserId : "toUserId",
                                toUserName : "toLoginName",
                                content : "content",
                                time : "updateTime"
                            },
                            userId : getCookie("UID"),
                            callback: function (rtn) {
                                if (rtn.type=="comment") {
                                    // 对视频的评论
                                    comment(rtn.content);
                                } else {
                                    // 对评论的回复
                                    reply(rtn.commentId, rtn.toUserId, rtn.toUserName, rtn.content);
                                }
                            }
                        });

                        $("#page").empty();
                        javaex.page({
                            id : "page",
                            pageCount : pageCount,	// 总页数
                            currentPage : currentPage,// 默认选中第几页
                            // 返回当前选中的页数
                            callback:function(rtn) {
                                getCommentList(rtn.pageNum);
                            }
                        });
                    }
                });
            }
        });
    }

    // 对视频的评论
    function comment(content) {
        $.ajax({
            url : "/user/souComments",
            type : "POST",
            dataType : "json",
            data : {"content" : content},
            success : function(rtn) {
                if (rtn.code=="000000") {
                    // 获取评论列表
                    getCommentList(pageNum);
                } else {
                    javaex.optTip({
                        content : rtn.message,
                        type : "error"
                    });
                }
            }
        });
    }

    // 回复
    function reply(commentId, toUserId, toUserName, content) {
        $.ajax({
            url : "${pageContext.request.contextPath}/portal/reply_info/save.json",
            type : "POST",
            dataType : "json",
            data : {
                "videoId" : videoId,
                "commentId" : commentId,
                "userToken" : getCookie("userToken"),
                "toUserId" : toUserId,
                "toLoginName" : toUserName,
                "content" : content
            },
            success : function(rtn) {
                if (rtn.code=="000000") {
                    // 获取评论列表
                    getCommentList(pageNum);
                } else {
                    javaex.optTip({
                        content : rtn.message,
                        type : "error"
                    });
                }
            }
        });
    }
</script>


</html>